root = true

[*.cs]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
csharp_prefer_braces = true:suggestion
dotnet_style_qualification_for_field = false:silent
dotnet_style_qualification_for_property = false:silent
dotnet_style_qualification_for_method = false:silent
dotnet_style_qualification_for_event = false:silent
dotnet_naming_rule.interface_should_start_with_i.severity = suggestion
dotnet_naming_rule.interface_should_start_with_i.symbols = interface_symbols
dotnet_naming_rule.interface_should_start_with_i.style = interface_prefix
dotnet_naming_symbols.interface_symbols.applicable_kinds = interface
dotnet_naming_style.interface_prefix.capitalization = pascal_case
dotnet_naming_style.interface_prefix.required_prefix = I
dotnet_diagnostic.CA1502.severity = error
dotnet_code_quality.CA1502.max_complexity = 10
